<div class="nurse">

    <div>
      <h2>Available Nurse</h2>
    </div>
    <div style="display: flex; justify-content: space-between;">
      <div>
          <button style="margin: 10px;" mat-raised-button color="primary" (click)="addNurse()">Add</button>
      </div>
  
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Harvey" #input>
      </mat-form-field>

    </div>

    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="nurseId">
              <th mat-header-cell *matHeaderCellDef> Nurse Id </th>
              <td mat-cell *matCellDef="let element"> {{element.nurseId}} </td>
            </ng-container>
          
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> Position </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>
          
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Actions </th>
              <td mat-cell *matCellDef="let element"><button mat-raised-button color="accent" (click)="updateNurse(element)">Update</button>&nbsp;&nbsp;<button mat-raised-button color="warn" (click)="deleteNurse(element)">Delete</button></td>
            </ng-container>
        
            
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" aria-label="Select page of nurse"></mat-paginator>
    </div>


</div>

<br><br>
<div style="margin: 0px 40px ;">

  <div>
    <h2>Service On Block</h2>
  </div>
  <app-on-call></app-on-call>
</div>
