td{
    width:400px ;
    text-align: center;
    padding: 10px;
}

th{
    width:400px ;
    text-align: center;
    padding: 10px;
}

.appointmentDetailCard{
    display: flex;
    padding: 50px;
    justify-content: space-evenly;
    /* align-items: center; */
   
}

.appointmentDetailCardm{
    box-shadow: 5px 5px 15px 10px rgba(0, 0, 0.2, 0.2);
    padding: 0px 20px;
}