<div class="appointmentDetailCard">

    <div>
        <mat-card class="example-card appointmentDetailCardm">
            <mat-card-header>
              <mat-card-title>Appointment Detail</mat-card-title>
              <mat-card-subtitle>Appointment No. {{appointmentDetail.appointmentId}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
        
                <div>
                    <table style="margin: 15px 0px;" mat-table [dataSource]="appointmentTableData" class="mat-elevation-z8">
                        <!-- Item Column -->
                        <ng-container matColumnDef="item">
                          <th mat-header-cell *matHeaderCellDef> Name </th>
                          <td mat-cell *matCellDef="let transaction"> {{transaction.item}} </td>
              
                        </ng-container>
                      
                        <!-- Cost Column -->
                        <ng-container matColumnDef="value">
                          <th mat-header-cell *matHeaderCellDef> Information </th>
                          <td mat-cell *matCellDef="let transaction"> {{transaction.value}} </td>x
                        </ng-container>
                      
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                      
                      </table>
                 
                </div>
              
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="accent" (click)="openDialog('Update')">Update</button> &nbsp;&nbsp;
              <button mat-raised-button color="warn"(click)="deleteAppointment()">Delete</button>
            </mat-card-actions>
          </mat-card>
    </div>

    <div>
        <div>
            <h3><button mat-raised-button color="primary" (click)="AddPrescription('Add')" *ngIf="!prescription">Add prescription</button></h3>
            <div style="width: 400px;" *ngIf="prescription">
                <h2>Prescriptions</h2>
                <mat-card class="appointmentDetailCardm" >
                    <mat-card-content>
                        <p><b>Medicine name:</b> {{prescription.medication.name}}</p>
                        <p><b>Medicine brand name:</b> {{prescription.medication.brand}}</p>
                        <p><b>Description:</b> {{prescription.medication.description}}</p>
                        <p><b>Dose:</b> {{prescription.dose}}</p>
                    </mat-card-content>
                    <mat-card-actions><button mat-raised-button color="accent" (click)="AddPrescription('Update')">Update</button> &nbsp; &nbsp;<button mat-raised-button color="warn" (click)="deletePrescription()">Delete</button></mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

</div>