/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'ngx-toastr/toastr';

html, body { height: 100%; }
body { margin: 0; 
    /* font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal; */
}


*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: medium;
    font-style: normal;
}


mat-hint{
  font-size: small;
}
